<sidebar>
<h2>Pages</h2>
{{- range .Data.Pages -}}
	{{- if eq .Type "page"}}
		<a href="{{ .Permalink }}">{{ .Title }}</a>
	{{- end }}
{{- end }}
</sidebar>

<content>
<h2>Projects</h2>
{{- range .Data.Pages -}}
	{{- if eq .Type "project"}}
		{{ .Date.Format "2006" }} <a href="{{ .Permalink }}">{{ .Title }}</a><br />
	{{- end }}
{{- end }}

<h2>Articles</h2>
{{- range .Data.Pages -}}
	{{- if eq .Type "post"}}
		<a href="{{ .Permalink }}">{{ .Title }}</a><br />
	{{- end }}
{{- end }}
</content>
