<!DOCTYPE html>
<html>
	<head>
		<title>{{ block "title" . }}
      	{{ .Site.Title }}
    	{{ end }}
		</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>

	<body>
		<site>

			{{ partial "header.html" . }}

			{{ partial "sidebar.html" . }}

			</content>
				{{ block "main" . }}

				{{ end }}
			</content>

			{{ partial "footer.html" . }}

		</site>
	</body>
</html>
