site {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
	"header content"
	"sidebar content"
	"footer content";
}

header {
	grid-area: header;
	display: block;
}

sidebar {
	grid-area: sidebar;
	display: block;
}

content {
	grid-area: content;
	display: block;
}


footer {
	grid-area: footer;
	display: block;
}
